<!doctype html>

<html>
<head>
  <title>StatusMash</title>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
      <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
      <!--<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>-->
      <script src="js/d3.js"></script>
</head>

<body>

 <div id= "visual">
      <h1 id = "visualheader"> your visual.</h1>
      <p class = "d3status"> The status of your status.</p>
       <p button onclick="fbLogin()" class="btn" id= "btncolor1">LOGIN WITH FACEBOOK</button></p><h3 id = "loginidtop">logged in as: {{name}}</h3>  
       <p class ="change" id ="information"> click on a circle to see your status displayed here! </p>
       <br>
 </div>
 <div id="key">
    <img src="../images/key.jpg", alt="key">
  </div>
        <div id = "left">
        <h1 id = "header" >your status.</h1> <h2>{{title}}</h2>
          <button onclick="fbLogin()" class="btn" id= "btncolor">LOGIN WITH FACEBOOK</button> <h3 id = "loginid">logged in as: {{name}}</h3>
          <!-- <id = "login"> username: {{username}}</p> -->
          <div id = "text"><span>
          <h4 id = "header1"><span>RECENT STATUS UPDATES</span> </h4>
          <div id="wrapper" >
              {{#each status_list}}
              <p>{{message}}</p>
              {{/each}}
          </div>
          <break>
         <!-- <h4 id ="header1"><span>RECENT LIKES </span></h4>
          <div id="wrapper" >       
              {{#each likes_list}}
              <p>{{name}}</p>
              {{/each}}
          </div> -->
      </div>
    </div>
  </div>
  </div>
    <div id = "right">
    <button onclick="twitLogin()" class="btn" id ="btncolor2">LOGIN WITH TWITTER</button>
    <div id = text2>
     <h4 id = theader><span>RECENT TWEETS</span></h4>
      <div id="wrapper" >
          {{#each tweets_list}}
              <p>{{text}}</p>
          {{/each}}
       </div>
    </div>
  </div>

    <script>
      d3.json('/pull/status', function(error, data) {
        // set canvas size
        var svg = d3.select("#visual").append("svg:svg")
        .attr("width", 900)
        .attr("height", 400);

        var info = []; //json object that will hold attributes for circle
        for( var i = 0; i < data.length; i++ ) {
          var item = {};
          item.statuses = data[i].message; 
          //console.log("status: " + item.statuses);
          var count = 0;
          if(data[i].likes) { // count the likes if any
            for( var j = 0; j < data[i].likes.data.length; j++) {
              count = count + 1;
            }
          }
          item.likes_count = count;
          item.xval = Math.floor( Math.random() * 900);
          item.yval = Math.floor( Math.random() * 400);

          //consistent coloring
          var returnColor;
          if(count <5) {returnColor ="#FFFFFF";}
          else if ( count >=5 && count <10) {returnColor = "#6C89C6";}
          else if (count >= 10 && count <20) {returnColor = "#3B5998";}
          else if (count >= 20 && count <30) {returnColor = "#223358";}
          else if (count >=30 && count < 40) {returnColor = "#111A2C";}
          else if (count >=40 ) {returnColor= "#06090F";}

          item.colorVal = returnColor;
          //console.log("likes: " + item.likes_count);
          info.push(item);

        } 
        
        var color = d3.scale.category20(); // used to randomize color
        var g = svg.selectAll("circle").data(info).enter().append("svg:g");

        g.append("svg:circle") //add circles
        .attr("r", function(d) {return (d.likes_count+1) * 5; })
        .attr("cx", function(d) {return (d.xval); })
        .attr("cy", function(d) {return (d.yval); })
        .attr("fill",function(d,i){return d.colorVal;})
        .on("click", function(d) {
            //update data
            var infoVal = document.getElementById('information');
            infoVal.innerHTML="Status: " + d.statuses + " likes: " + d.likes_count;
        
        });

        //show all status by circle
       /* g.append("svg:text") //add text
        .text(function(d) {return d.statuses})
        .attr("x", function(d) {return (d.xval); })
        .attr("y", function(d) {return (d.yval); });*/

 
      })
    </script>
    <script>
      function fbLogin() {
        window.location.href = "/auth/facebook";
      }
      function twitLogin() {
        window.location.href = "/auth/twitter/callback";
      }
    </script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>