<!doctype html>

<html>
<head>
  <title>ChatterBot</title>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
      <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
</head>

<body>
      <div class="container">
        <h1>ChatterBot</h1>
        <p>{{title}}</p>
        <button onclick="fbLogin()" class="btn btncolor">{{button}}</button>
        <p>Logged in as: {{name}}</p>
        <h4>Most recent status updates: </h4>
        <div id="wrapper" >
          
          {{#each status_list}}
              <p>{{message}}</p>
          {{/each}}
       </div>
       <break>
       <h4>Most recent Likes: </h4>
      <div id="wrapper" >
          
          {{#each likes_list}}
              <p>{{name}}</p>
          {{/each}}
       </div>
    </div>
    <script>
      function fbLogin() {
        window.location.href = "/auth/facebook";
      }
    </script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>

</body>
</html>